hqh1 {
  font-family: "Coustard", serif;
  font-weight: 900;
}

div {
  font-family: "Coustard", serif;
  font-weight: 400;
}

.forecast-icon {
  font-size: 45px;
}

.container {
  text-align: center;
}

.align-items-start {
  border: solid 1px;
  padding: 5px 5px;
  text-align: center;
}

.low-temp {
  text-align: left;
  font-weight: 900;
}

.high-temp {
  text-align: right;
  font-weight: 900;
}

.garden-graphic {
  border: solid 1px;
  padding: 5px 5px;
  border-bottom: none;
}

.forecast-temp {
  color: #f9f3cf;
}

.first-color {
  background: #f9f3cf;
}

.second-color {
  background: #ede7cf;
}

.third-color {
  background: #ddbc89;
}

.fourth-color {
  background: #aa512f;
}

